signal_emulator/resources/**
!signal_emulator/resources/configs/
!signal_emulator/resources/configs/**
!signal_emulator/resources/m37/
!signal_emulator/resources/m37/**
*.log
*.pyc
*.lsg
*.net
.vscode/launch.json
